* {
    font-family: Roboto;
}

.allDiv {
    padding: 80px 100px 0 100px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 1080px) {
    .main {
        flex-direction: row;
    }
    .allDiv {
        padding: 80px 150px 0 150px;
    }
}

.image {
    width: 630px;
    height: 650px;
}
.card-title {
    padding: 12px 0;
    color: #364a63;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1.2;
}

.review {
    color: #8091a7;
    padding-right: 4px;
    padding-bottom: 4px;
    gap: 8px;
}

.titile-price {
    color: #8091a7;
    padding-top: 20px;
    display: flex;
    align-items: baseline;
}
.titile-price del {
    padding-right: 5px;
}

.titile-price span {
    color: #6576ff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.titile-price label {
    color: #6576ff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.card-text {
    padding-top: 20px;
    padding-right: 4px;
    color: #8091a7;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.type {
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}

.band-color,
.wrist-color {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #364a63;
}
.radio-button {
    display: flex;
    flex-direction: row;
    gap: 19px;
}

.radio-button input[type='radio'] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

#exampleRadios:nth-child(1) {
    background-color: #816bff;
    border: 2px solid white;
}

#exampleRadios:nth-child(2) {
    background-color: #1fcec9;
    border: 2px solid white;
}

#exampleRadios:nth-child(3) {
    background-color: #4b97d3;
    border: 2px solid white;
}

#exampleRadios:nth-child(4) {
    background-color: #3b4747;
    border: 2px solid white;
}

#exampleRadios:checked:nth-child(1) {
    outline: 2px solid #816bff;
}

#exampleRadios:checked:nth-child(2) {
    outline: 2px solid #1fcec9;
}

#exampleRadios:checked:nth-child(3) {
    outline: 2px solid #4b97d3;
}

#exampleRadios:checked:nth-child(4) {
    outline: 2px solid #3b4747;
}

.wrist-button {
    display: flex;
    gap: 10px;
}
.custom-btn {
    border: 1px solid #dbdfea;
    border-radius: 2px;
    background-color: white;
    padding: 8px 18px;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.26px;
}

.custom-btn:focus {
    color: #6576ff;
    border: 1px solid #6576ff;
}

.custom-btn span {
    color: #8091a7;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.26px;
}

.quantity-add {
    margin-top: 20px;
    gap: 12px;
}

#quantity {
    pointer-events: none;
}

.group-btn {
    display: flex;
}

.group-btn button {
    font-size: 18.2px;
    font-weight: 400;
    line-height: 23.1px;
    padding: 3px 8px;
    border: 1px solid #dbdfea;
    background-color: white;
}

.group-btn input {
    width: 40px;
    padding: 3px 8px;
    border: none;
    outline: none;
    text-align: center;
    border: 1px solid #dbdfea;
}

.heart {
    background-color: white;
    border: none;
}

.price-btn input[type='checkbox'] {
    appearance: none;
}

.group-check-btn {
    display: flex;
}

.group-check-btn input {
    width: 60px;
    border-bottom: 0.5px solid #dbdfea;
    border-top: 0.5px solid #dbdfea;
    border-left: none;
    border-right: none;
    background: white;
    outline: none;
    padding: 3px 0;
    text-align: center;
}

.minus {
    border: 0.5px solid #dbdfea;
    background: white;
    padding: 3px 8px;
}

.plus {
    border: 0.5px solid #dbdfea;
    background: white;
    padding: 3px 8px;
}

/*size button */

.price-btn {
    display: flex;
    color: #364a63;
    gap: 12px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.26px;
}

.price-btn input[type='radio'] {
    display: none;
}

.price-btn label {
    display: inline-block;
    border: 1px solid #dbdfea;
    color: #364a63;
    border-radius: 4px;
    padding: 8px 18px;
    background-color: white;
    cursor: pointer;
}

.price-btn input[type='radio']:checked + label {
    color: #6576ff;
    border-color: #6576ff;
}
.price-btn span {
    padding: none;
}

#price-amount {
    color: #8091a7;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.26px;
}

/* modal */

.modal-content h1 {
    color: #364a63;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.item-title {
    display: flex;
    color: #8091a7;
    border-bottom: 1px solid #dbdfea;
    font-family: Roboto;
    padding: 4px 4px 8px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.1px;
}

.middle-item {
    display: flex;
}

.middle-item ul {
    padding: 0;
    margin: 0;
}

.item-description {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-right: 4px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dbdfea;
    font-weight: 400;
    font-size: 14px;
    line-height: 23.1px;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    color: #373737;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.2px;
}

.total ul {
    padding: 0;
    margin: 0;
}

.shopping-checkout {
    padding-top: 10px;
    display: flex;
    justify-content: end;
    gap: 24px;
}

.continue-shopping {
    border-radius: 3px;
    padding: 8px 18px;
    border: 1px solid #dbdfea;
    background-color: white;
}
